<header class="drx-header">
  <div class="drx-header__container">
    <div class="drx-header__logo">
      <img src="./assets/imgs/daruixLogoHoz.png" alt="Daruix Engenharia">
    </div>

    <nav class="drx-header__nav">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="gothic-x bold-font">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/empresa" routerLinkActive="active-link" class="gothic-x bold-font">
            Empresa
          </a>
        </li>
        <li>
          <a routerLink="/servicos" routerLinkActive="active-link" class="gothic-x bold-font">
            Serviços
          </a>
        </li>
        <li>
          <a routerLink="/contato" routerLinkActive="active-link" class="gothic-x bold-font">
            Contato
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="blur-nav"></div>
