.drx-header{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--drx-red-base);
  position: fixed;
  z-index: 2;

  &__logo {
    margin-top: 27px;
    margin-left: 16px;
    img {
      height: 136px;
    }
  }
  &__nav{
    height: 60px;
    display: flex;
    align-items: center;
    width: 64%;
    justify-content: flex-start;
    & ul{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      & li{
        list-style: none;
        cursor: pointer;
        height: 60px;
        justify-content: center;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        padding: 0 16px;
        border-radius: 5px;
        &:hover{
          background-color: var(--ex-red-scale-700);
        }
        & a{
          color: var(--ex-pure-white);
          text-decoration: none;
          justify-content: center;
          align-items: center;
          display: flex;
          width: 100%;
          height: 60px;
        }
      }
    }
  }
}
.blur-nav{
  width: 100%;
  height: 15px;
  background-color: var(--ex-gray-scale-700);
  position: fixed;
  z-index: 1;
  margin-top: 88px;
  filter: blur(10px);
}


