<section class="home-section">
  <article class="home-section__about">
    <div class="img-about">
      <img src="./assets/imgs/Sequência%2001.00_00_35_21.Quadro014.png"  alt="Projeto de construção Bem Barato">
    </div>
    <div class="container-text">
      <h1 class="gothic-xxg bold-font">Soluções Integradas de Engenharia</h1>
      <p class="gothic-xm bold-font">Lorem ipsum dolor sit amet</p>
      <div class="container-text_btns">
        <button class="btn-primary gothic-m bold-font" [routerLink]="'/contato'">Solicitar Orçamento</button>
      </div>
    </div>
    <div class="opacity_text"></div>
  </article>
  <article class="home-section__services">
    <app-drx-divider></app-drx-divider>
    <h2 class="gothic-xxm bold-font">Serviços</h2>
    <div class="home-section__services__types">

      <app-drx-section-item
        [typeTitle]="'Construção'"
        [slug]="'construcao'"
        [orderService]="1"
        [imgFace]="'./assets/imgs/obras.png'"
        [typeDesc]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan tempus massa, ' +
             'at iaculis diam eleifend eu. Vestibulum magna tortor, euismod eu blandit nec, ' +
              'fringilla non sapien. Suspendisse interdum urna sit amet bibendum congue. '"></app-drx-section-item>

      <app-drx-section-item
        [typeTitle]="'Estruturas'"
        [slug]="'estruturas'"
        [imgFace]="'./assets/imgs/estruturas.png'"
        [orderService]="2"
        [typeDesc]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan tempus massa, ' +
             'at iaculis diam eleifend eu. Vestibulum magna tortor, euismod eu blandit nec, ' +
              'fringilla non sapien. Suspendisse interdum urna sit amet bibendum congue. '"></app-drx-section-item>

      <app-drx-section-item
        [typeTitle]="'Arquitetura'"
        [slug]="'arquitetura'"
        [imgFace]="'./assets/imgs/arquitetura.png'"
        [orderService]="3"
        [typeDesc]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan tempus massa, ' +
             'at iaculis diam eleifend eu. Vestibulum magna tortor, euismod eu blandit nec, ' +
              'fringilla non sapien. Suspendisse interdum urna sit amet bibendum congue. '"></app-drx-section-item>
    </div>
  </article>
  <article class="home-section__contact">
    <app-drx-divider></app-drx-divider>
    <div class="home-section__contact__container">
      <div class="home-section__contact__container__img-bg"></div>
      <div class="home-section__contact__container__call">
        <ul>
          <li>
            <h2 class="gothic-xxgl text-align-center bolder-font">Vamos tirar seu projeto do papel?</h2>
          </li>
          <li>
            <button class="btn-primary gothic-m bold-font" [routerLink]="'/contato'">Solicitar Orçamento</button>
          </li>
        </ul>
      </div>

    </div>
  </article>
</section>
