<section class="home-section">
  <article class="home-section__about">
    <div class="img-about">
      <img src="https://daruix.com.br/_img/construcao/varejo/ricoy/rk17_1.png"  alt="Projeto de construção Ricoy">
    </div>
    <div class="container-text">
      <h1 class="gothic-xxg bold-font">Soluções Integradas de Engenharia</h1>
      <p class="gothic-xm bold-font">Lorem ipsum dolor sit amet</p>
      <div class="container-text_btns">
        <button class="btn-primary gothic-m bold-font">Solicitar Orçamento</button>
      </div>
    </div>
    <div class="opacity_text"></div>
  </article>
  <article class="home-section__services">
    <h2 class="gothic-xxm bold-font">Serviços</h2>
    <div class="home-section__services__types">
      <div class="type">
        <ul>
          <li>
            <div class="img-type">
              <a href="">
                <img src="https://daruix.com.br/_img/construcao/varejo/ricoy/rk17_1.png"  alt="Projeto de construção Ricoy">
              </a>
            </div>
          </li>
          <li>
            <h3 class="gothic-xm bold-font">Construção</h3>
          </li>
          <li>
            <p class="gothic-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet convallis semper, nunc nisl aliquam nisl, eu iaculis nunc nisl sit amet nunc.</p>
          </li>
          <li>
            <a href="#" class="gothic-m bold-font">Ver mais</a>
          </li>
        </ul>

      </div>
      <div class="type">
        <ul>
          <li>
            <div class="img-type">
              <a href="">
                <img src="https://daruix.com.br/_img/construcao/varejo/ricoy/rk17_1.png" alt="home_img">
              </a>
            </div>
          </li>
          <li>
            <h3 class="gothic-xm bold-font">Estruturas</h3>
          </li>
          <li>
            <p class="gothic-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet convallis semper, nunc nisl aliquam nisl, eu iaculis nunc nisl sit amet nunc.</p>
          </li>
          <li>
            <a href="#" class="gothic-m bold-font">Ver mais</a>
          </li>
        </ul>
      </div>
      <div class="type">
        <ul>
          <li>
            <div class="img-type">
              <a href="">
                <img src="https://daruix.com.br/_img/construcao/varejo/ricoy/rk17_1.png" alt="home_img">
              </a>
            </div>
          </li>
          <li>
            <h3 class="gothic-xm bold-font">Arquitetura</h3>
          </li>
          <li>
            <p class="gothic-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet convallis semper, nunc nisl aliquam nisl, eu iaculis nunc nisl sit amet nunc.</p>
          </li>
          <li>
            <a href="#" class="gothic-m bold-font">Ver mais</a>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <article class="home-section__contact">
    <app-drx-divider></app-drx-divider>
    <div class="home-section__contact__container">
      <div class="home-section__contact__container__img-bg"></div>
      <div class="home-section__contact__container__call">
        <ul>
          <li>
            <h2 class="gothic-xxgl text-align-center bolder-font">Vamos tirar seu projeto do papel?</h2>
          </li>
          <li>
            <button class="btn-primary gothic-m bold-font">Solicitar Orçamento</button>
          </li>
        </ul>
      </div>

    </div>
  </article>
</section>
