<section class="enterprise-list-section">
  <div class="enterprise-list-section__container">
    <header class="enterprise-list-section__container__top">
      <h1 class="gothic-xxgll bold-font">{{ empresaInfo.nome }}</h1>
    </header>
    <div class="enterprise-list-section__container__list-container">
      <article class="enterprise-list">
        <div class="top-lists">
          <svg lucideBuilding2></svg>
          <p class="gothic-x bold-font">
            Sobre
          </p>
        </div>
        <div class="wrapper-desc">
          <p class="quicksand-m">
            {{empresaInfo.descricao}}
          </p>
        </div>
        <div class="divider"></div>
        <div class="top-lists">
          <svg lucideCompass></svg>
          <p class="gothic-x bold-font">
            Missão
          </p>
        </div>
        <div class="wrapper-desc">
          <p class="quicksand-m">
            {{empresaInfo.missao}}
          </p>
        </div>
        <div class="divider"></div>
        <div class="top-lists">
          <svg lucideGem></svg>
          <p class="gothic-x bold-font">
            Valores
          </p>
        </div>
        <div class="wrapper-desc">
          <p class="quicksand-m">
            {{empresaInfo.valores}}
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
