<section class="home-section">
  <article class="home-section__about">
    <div class="container-text">
      <h1 class="gothic-xxg bold-font">Soluções Integradas de Engenharia</h1>
      <p class="gothic-xm bold-font">Lorem ipsum dolor sit amet</p>
      <div class="container-text_btns">
        <button class="btn-primary gothic-m bold-font">Solicitar Orçamento</button>
      </div>
    </div>
    <div class="opacity_text"></div>
  </article>
  <article class="home-section__services">
    <h2 class="gothic-xxm bold-font">Serviços</h2>

    <div class="home-section__services__types">
      <div class="type">
        <div class="img-type"></div>
        <h3 class="gothic-xm bold-font">Construção</h3>
        <p class="gothic-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet convallis semper, nunc nisl aliquam nisl, eu iaculis nunc nisl sit amet nunc.</p>
      </div>
      <div class="type">
        <div class="img-type"></div>
        <h3 class="gothic-xm bold-font">Estruturas</h3>
        <p class="gothic-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet convallis semper, nunc nisl aliquam nisl, eu iaculis nunc nisl sit amet nunc.</p>
      </div>
      <div class="type">
        <div class="img-type"></div>
        <h3 class="gothic-xm bold-font">Arquitetura</h3>
        <p class="gothic-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet convallis semper, nunc nisl aliquam nisl, eu iaculis nunc nisl sit amet nunc.</p>
      </div>
    </div>
  </article>
</section>
