<div class="type type__{{sizeType}}">
  <ul>
    <li>
      <div class="img-type size-{{sizeType}}">
        <a (click)="goToService()">
          <img [src]="imgFace" [alt]="typeTitle + '_img'">
        </a>
      </div>
    </li>
    <li>
      <h3 class="gothic-xm bold-font padding-{{sizeType}}">{{typeTitle}}</h3>
    </li>

    <li class="padding-{{sizeType}}">
      @if (!isBtn) {
        <div>
          <a  (click)="goToService()"  class="gothic-m bold-font" >{{typeTextLink}}</a>
        </div>
      } @else {
        <button class="btn-primary gothic-{{sizeBtn}} bold-font">{{typeTextLink}}</button>
      }
    </li>
  </ul>
</div>
