<footer class="drx-footer-container">
  <section class="drx-footer-container__content">
    <address class="address">
      <p class="quicksand-m">{{ empresa?.endereco }}</p>
      <p class="quicksand-m">{{ empresa?.telefone }}</p>
    </address>

    <div class="social-media">
      <a
        href="https://www.facebook.com/Daruixengenharia"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook Daruix Engenharia">
        <img
          src="https://daruix.com.br/_img/rodape/facebook.png"
          alt="Facebook Daruix Engenharia">
      </a>
    </div>
  </section>
</footer>
